* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size);
  font-weight: var(--ui-font-weight);
  line-height: var(--ui-line-height);
}

body {
  background-color: var(--ui-background-color);
  color: var(--ui-text-color);
}
